{
	"apiURL": "0.0.0.0",
	"apiPort": "3000",
	"apiProtocol": "http",
	"appConf": {
		"promptFullScreenDialog": false,
		"showUpdateNotifications": true,
		"dataCaching": true
	},
	"apps": [
		{ "name": "ART", "available": true },
		{ "name": "LOS", "available": true },
		{ "name": "OPD", "available": true },
		{ "name": "ANC", "available": true },
		{ "name": "CxCa", "available": true },
		{ "name": "RADIOLOGY", "available": true },
		{ "name": "Registration", "available": true}
	],
	"thirdpartyApps": [
		{
			"name": "pacs",
			"url": "",
			"applicationDescription": "Picture archieving system",
			"comment": "redirecting to pacs image viewer; used in OPD"
		}
	]
}
