#weekly_facility_summary {
    width: 100%;
    border: solid 5px black;
    border-collapse: collapse;
  }
  .no-border {
    border: solid 0px white;
  }
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;  
  }
  .bold-font {
    font-weight: bold;
  }
  .large-text {
     font-size: 0.9rem;
  }
  .main-title {
    font-size: 1.6rem; 
    font-weight: bold;
    text-align: center;
  }
 
  tbody > tr > td {
    padding: 0.2em;
    border-top: 1px solid #000000; 
    border-bottom: 2px solid #000000; 
    border-left: 2px solid #000000; 
    border-right: 1px solid #000000;
  }
  .table-header {
     text-align: center;
  }
  .table-data {
     color: rgb(31, 120, 243);
     font-weight: bold;
     text-align: center;
     font-size: 1rem;
  }