table[data-v-088bf15a]{font-family:arial,sans-serif;border-collapse:collapse;width:100%}td[data-v-088bf15a],th[data-v-088bf15a]{border:1px solid #dddddd;text-align:left;padding:8px}tr[data-v-088bf15a]:nth-child(2n){background-color:#ddd}
